---
import '../app.css';
---

<html lang="ja">
	<head>
		<meta charset="utf-8" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
		<title>tech.arstella.co.jp</title>
	</head>
	<body>
		<h1 class="text-4xl font-bold text-center mt-10">Arstella Tech Blog</h1>
		<p class="text-lg text-gray-600 text-center mt-4">技術情報を発信します</p>
	</body>
</html>
